doc/commands/gretl_commands.dtd

<!--
  DTD for gretl command reference. Allin Cottrell 2004
 -->
<!ENTITY ndash "&#8211;">

<!ELEMENT commandlist (command)+>
<!ATTLIST commandlist
   language    CDATA #REQUIRED
>

<!-- The description is the only element that is absolutely
     required of a command -->

<!ELEMENT command (toptable?, description, option-notes?, addendum?, 
                   gui-access?, numinfo?)>

<!ATTLIST command
   name         CDATA #REQUIRED
   xref         CDATA #REQUIRED
   section      (Dataset | Estimation | Graphs | Prediction |
                 Printing | Programming | Statistics | Tests |
                 Transformations | Utilities | Unknown) "Unknown"
>

<!ELEMENT numinfo EMPTY>
<!ATTLIST numinfo
   args       CDATA #REQUIRED
   optargs    CDATA #REQUIRED
   options    CDATA #REQUIRED
   examples   CDATA #REQUIRED
>

<!ELEMENT toptable (arguments?, optargs?, options?, examples?)>

<!ELEMENT arguments    (argument)+>
<!ELEMENT optargs      (argument)+>
<!ELEMENT options      (option)+>
<!ELEMENT examples     (example)+>
<!ELEMENT description  (para)+>
<!ELEMENT option-notes (para)+>
<!ELEMENT addendum     (para)+>
<!ELEMENT gui-access   (menu-path, other-access?)>

<!ELEMENT argument (#PCDATA)>
<!ELEMENT option   (flag, effect)>
<!ELEMENT example  (#PCDATA)>

<!ELEMENT flag    (#PCDATA)>
<!ELEMENT effect  (#PCDATA)>

<!ELEMENT menu-path    (#PCDATA)>
<!ELEMENT other-access (#PCDATA)>

<!ELEMENT para (#PCDATA | repl | program | mathvar | equation |
                literal | emphasis | cmd)*>

<!-- stuff that can go into paras -->

<!ELEMENT equation EMPTY>
<!ATTLIST equation
   status (inline | display) "inline"
   tex     CDATA #REQUIRED
   ascii   CDATA #REQUIRED
   graphic CDATA #REQUIRED
>

<!ELEMENT repl     (#PCDATA)>
<!ELEMENT program  (#PCDATA)>
<!ELEMENT literal  (#PCDATA)>
<!ELEMENT emphasis (#PCDATA)>
<!ELEMENT cmd      (#PCDATA)>
<!ELEMENT mathvar  (#PCDATA | sub | super)*>
<!ELEMENT sub      (#PCDATA)>
<!ELEMENT super    (#PCDATA)>





